.git
.gitignore
.dockerignore
README.md
GEMINI.md
CLAUDE.md
QWEN.md
api_doc.md
Makefile
.air.toml
.env.example
fly.toml
/bin
/tmp
/test
/scripts
migrations.github
.claude
.kilo
.env
docs
coverage.out
